.task1-grid-wraper{
    
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "Header Header"
                         "Sidebar Main"
                          "Footer Footer";
    
}
h2,p{
    padding-left: 1rem;
}
.task1-grid-wraper>*{
    background-color: #444;
}

.head{
    grid-area: "Header";
    grid-column: 1/-1;
    text-align: center;
}
.aside{
    grid-area: "Sidebar";
    
    
}
.main{
    grid-area: "Main";
}
.footer{
    grid-area: "Footer";
    text-align: center;
    grid-column: 1/-1;
    
}
/* Responsive header, two columns and a footer */
@media (max-width:640px){
    .task1-grid-wraper{
    grid-template-columns: 1fr ;
    grid-template-areas: "Header "
                         "Sidebar "
                         "Main"
                          "Footer";
}
}
h1, p {
    margin: 0 0 1em 0;
  }

.task-2-wrapper{
    display: grid;
    width: 96vw;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1.4fr 3.5fr repeat(4,2.5fr) 1.4fr;
    
    gap: 1em;
    margin: 0 auto;
}
.task-2-wrapper>*{
    background-color: #444;
    color: rgb(219, 198, 198);
    border-radius: 5px;
    font-size: 120%;
    padding: 20px;
}

.task-2-header{
    grid-column: 1 / span 2;
}
.task-2-content{
    grid-row: 2/ 5;
    grid-column: 1/span 2;
    text-align: justify;
   
}
.block-a{
    grid-row: 5/6;
       
    font-weight: 700;

}
.block-b{
    grid-row: -4/-3;
   
    font-weight: 700;
}
.block-c{
    grid-row: 6/7;
    grid-column: 1/span 2;
    
    font-weight: 700;
}
.task-2-footer{
    grid-row: 7/8;
    grid-column: 1/span 2;
}

@media(min-width:620px){
    .task-2-wrapper>*{
        font-size: 150%;
    }
    .task-2-wrapper{
        grid-template-columns: repeat(6,1fr);
    }
    .task-2-header{
        grid-column: 1/span 6;
    }
    .task-2-content{
        grid-column: 1/span 6;
    }
    .block-a{
        grid-column: 1 ;
        grid-row: 5/span 2;
    }
    .block-b{
        grid-column: 6;
        grid-row: -4/span 2;
    }
    .block-c{
        grid-column: 2/ span 4;
        grid-row: 5/ span 2;
    }
    .task-2-footer{
        grid-column: span 6;
    }
}