.task1-grid-wraper{
    
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "Header Header"
                         "Sidebar Main"
                          "Footer Footer";
    
}
h2,p{
    padding-left: 1rem;
}
.task1-grid-wraper>*{
    background-color: #444;
}

.head{
    grid-area: "Header";
    grid-column: 1/-1;
    text-align: center;
}
.aside{
    grid-area: "Sidebar";
    
    
}
.main{
    grid-area: "Main";
}
.footer{
    grid-area: "Footer";
    text-align: center;
    grid-column: 1/-1;
    
}
/* Responsive header, two columns and a footer */
@media (max-width:640px){
    .task1-grid-wraper{
    grid-template-columns: 1fr ;
    grid-template-areas: "Header "
                         "Sidebar "
                         "Main"
                          "Footer";
}
}
.task-2-wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1.4fr 3.5fr repeat(4,2.5fr) 1.4fr;
    grid-auto-flow: row;
    gap: 1em;
}
.task-2-wrapper>*{
    background-color: #444;
}

.task-2-header{
    grid-column: 1 / span 2;
}
.task-2-content{
    grid-column: 1/span 2;
    grid-row: 2/ 4;
    padding: 2rem;
}
.block-a{
    grid-row: 4/6;
    padding: 2rem;
    font-weight: 700;

}